<div class="container-fluid">
    <form [formGroup]="stockItemForm" autocomplete="off" novalidate (ngSubmit)="createStockItem(stockItemForm.value)">
      <div class="form-horizontal well">
   
        <div class="form-group">
          <label for="name" class="control-label col-md-2">Name of the Stock Item: </label>
          <div class="col-md-5">
            <input type="text" formControlName="name" id="name" class="form-control" />
          </div>
          <div class="col-md-5">
            <em *ngIf="validateControl('name') && hasError('name', 'required')">Name is required</em>
            <em *ngIf="validateControl('name') && hasError('name', 'maxlength')">Maximum allowed length is 60 characters.</em>
          </div>
        </div>
   
        <div class="form-group">
          <label for="dateOfCreation" class="control-label col-md-2">Date of Creation: </label>
          <div class="col-md-5">
            <input type="text" formControlName="dateOfCreation" id="dateOfCreation" class="form-control" appDatepicker 
                  (change)="executeDatePicker($event)" readonly/>
          </div>
          <div class="col-md-5">
            <em *ngIf="validateControl('dateOfCreation') && hasError('dateOfCreation', 'required')">Date of Creation is required</em>
          </div>
        </div>
   
        <div class="form-group">
          <label for="searchDetails" class="control-label col-md-2">Search Details: </label>
          <div class="col-md-5">
            <input type="text" formControlName="searchDetails" id="searchDetails" class="form-control" />
          </div>
          <div class="col-md-5">
            <em *ngIf="validateControl('searchDetails') && hasError('searchDetails', 'required')">searchdetails is required</em>
            <em *ngIf="validateControl('searchDetails') && hasError('searchDetails', 'maxlength')">Maximum allowed length is 100 characters.</em>
          </div>
        </div>
   
        <br><br>
   
        <div class="form-group">
            <div class="col-md-offset-5 col-md-1">
                <button type="submit" class="btn btn-info" [disabled]="!stockItemForm.valid">Save</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-danger" (click)="redirectToStockItemList()">Cancel</button>
            </div>
        </div>
        
      </div>
    </form>
   
    <app-success-modal [modalHeaderText]="'Success message'" 
    [modalBodyText]="'Action completed successfully'" [okButtonText]="'OK'" 
    (redirectOnOK)="redirectToStockItemList()"></app-success-modal>
   
    <app-error-modal [modalHeaderText]="'Error message'" 
    [modalBodyText]="errorMessage" [okButtonText]="'OK'"></app-error-modal>
   
  </div>