<mat-nav-list >
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()" *ngIf="currentUser">
      <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/stock/list" (click)="onSidenavClose()" *ngIf="currentUser">
      <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Stock Item</span>
  </a>
  <a mat-list-item routerLink="/admin" (click)="onSidenavClose()" *ngIf="isAdmin">
      <mat-icon>account_balance</mat-icon><span class="nav-caption">Admin</span>
  </a>
    <a mat-list-item routerLink="/admin"  (click)="logout()" *ngIf="currentUser">
      <mat-icon>account_balance</mat-icon><span class="nav-caption">Logout</span>
  </a>
</mat-nav-list>
