 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <nav class="navbar navbar-expand navbar-dark bg-dark" >
        <ul class="nav navbar-nav">
        <li>
              <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" *ngIf="currentUser">Home</a>
        </li>
          <li>
            <a [routerLink]="['/stock/list']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" *ngIf="currentUser">Stock Item List</a>
          </li>
          <li>
           <a [routerLink]="['/admin']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" *ngIf="isAdmin">Admin</a>
          </li>

        </ul>
    </nav>
  </div>
</nav>

