<div class="container-fluid">
    <div class="row">
      <div class="col-md-10 well">
  
        <div class="row">
          <div class="col-md-3">
            <label for="name" class="control-label">Stock Item name:</label>
          </div>
          <div class="col-md-7">
            <span name="name">
              {{stock?.stockItemName}}
            </span>
          </div>
        </div>
         
        <div class="row">
          <div class="col-md-3">
            <label for="dateOfCreation" class="control-label">Date of Creation:</label>
          </div>
          <div class="col-md-7">
            <span name="dateOfCreation">
             {{stock?.validFrom | date: 'MM/dd/yyyy'}}
            </span>
          </div>
        </div>
         
        <div class="row">
          <div class="col-md-3">
            <label for="searchDetails" class="control-label">searchDetails:</label>
          </div>
          <div class="col-md-7">
            <span name="searchDetails">
              {{stock?.searchDetails}}
            </span>
          </div>
        </div>
  
      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-8 col-md-1">
          <button type="submit" class="btn btn-info" (click)="DeleteStockItem()">Delete</button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-danger" (click)="redirectToStockItemList()">Cancel</button>
        </div>
      </div>
  </div>
  
  <app-success-modal [modalHeaderText]="'Success message'" 
    [modalBodyText]="'Action completed successfully'" 
    [okButtonText]="'OK'"
    (redirectOnOK)="redirectToStockItemList()"></app-success-modal>
   
  <app-error-modal [modalHeaderText]="'Error message'" 
    [modalBodyText]="errorMessage" 
    [okButtonText]="'OK'"></app-error-modal>